add subscribers in subreddits model
add mods to subreddit
feature of banning a user from a subreddit
search functionality for subreddit, user and post
sort comments
user history (posts and comments)
comment tree
votes on both posts and comments
comments on both posts and comments
verification email
forget password email
multiple roles for user
